*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text-color;
}

.container {
  // width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // отзывчивая:
  // max-width: $desktop;

  // адаптивная:
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
