.footer {
  background-color: $footer-color;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;

  .adres {
    margin-bottom: 60px;

    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }

    .text-adres {
      margin-top: 20px;
      margin-bottom: 4px;
      color: $primary-white-color;
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 00.03em;
    }
    .link {
      margin: 4px;

      color: $primary-text-color;
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 00.03em;
      text-decoration: none;
    }
  }

  .contact-footer {
    .footer-icon {
      margin-top: 20px;
      margin-bottom: 60px;
      display: flex;
      justify-content: center;

      .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 44px;
        margin: 5px;
        fill: $primary-white-color;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        &:hover,
        &:focus {
          background-color: $accent-color;
        }
      }
    }
  }
}
.footer-container {
  @media screen and(min-width: $desktop) {
    display: flex;
    justify-content: center;
    width: auto;
  }
}

.contact {
  color: $primary-white-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.contact-lebel {
  margin-top: 20px;

  .form-footer {
    @media screen and (min-width: $desktop) {
      width: auto;
      display: flex;
      padding-left: 0px;
    }
    .input-footer {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
      border: 1px solid #ffffff4d;
      border-radius: 4px;
      background-color: $footer-color;
      box-shadow: 0px 4px 4px 0px #00000026;
      color: #ffffff99;
      text-indent: 16px;
      font-size: 16px;

      @media screen and (min-width: $tablet) {
        width: 450px;
      }
      @media screen and (min-width: $desktop) {
        margin-right: 12px;
        width: 350px;
      }
    }

    .lebel-footer {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .fly {
        margin-left: 10px;
      }
    }
  }
}

.tablet-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: left;
  }
}

//     .input-footer {
//       margin-top: 20px;
//       margin-bottom: 20px;
//       width: 100%;
//       height: 50px;
//       //   margin-right: 12px;
//       text-indent: 16px;
//       color: $primary-text-color;

//       background-color: $footer-color;

//       border: 1px solid rgba(255, 255, 255, 0.3);
//       box-sizing: border-box;
//       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//       border-radius: 4px;
//     }

// .footer {
//   background-color: $footer-color;
//   width: 100%;

//   .footer-flex {
//     text-align: center;

//     // display: flex;
//     // justify-content: space-between;
//     // align-items: baseline;
//     @media screen and(max-width: 767px) {
//       padding-top: 60px;
//       padding-bottom: 60px;
//     }

//     .adres {
//       font-style: normal;
//       margin-bottom: 60px;
//       .logo {
//         margin-top: 20px;
//         margin-bottom: 20px;
//       }
//       .text {
//         color: $primary-white-color;

//         font-weight: 400;
//         font-size: 14px;
//         line-height: 1.71;
//       }
//       .link {
//         color: $secondary-link;

//         font-weight: 400;
//         font-size: 14px;
//         line-height: 1.71;
//         text-decoration: none;
//         &:hover,
//         &:focus {
//           color: $accent-color;
//         }
//       }
//     }
//   }

//   .contact {
//     color: $primary-white-color;
//     margin-bottom: 20px;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;

//     text-transform: uppercase;
//   }

//   .contact-lebel {
//     // display: flex;
//     // align-items: center;

//     .input-footer {
//       margin-top: 20px;
//       margin-bottom: 20px;
//       width: 100%;
//       height: 50px;
//       //   margin-right: 12px;
//       text-indent: 16px;
//       color: $primary-text-color;

//       background-color: $footer-color;

//       border: 1px solid rgba(255, 255, 255, 0.3);
//       box-sizing: border-box;
//       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//       border-radius: 4px;
//     }

//     .form-footer {
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//       margin-left: auto;
//       margin-right: auto;

//       .lebel-footer {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         .fly {
//           margin-left: 10px;
//         }
//       }
//     }
//   }

//   /* cоц сети */
//   .footer-icon {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 60px;

// .svg {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 44px;
//   width: 44px;

//   background-color: rgba(255, 255, 255, 0.1);
//   fill: $primary-white-color;

//   border-radius: 50%;
//   margin-right: 10px;
//   margin-top: 20px;
//   &:hover {
//     background-color: $accent-color;
//   }
//     }
//   }
// }
